.server__element{
    margin-top: 20px;

    &:not(:last-child){
        border-bottom: 1px solid silver;
    }
}

.server__elementControl{
    margin-bottom: 10px;
    margin-top: 10px;
}

.server__elementInput:not(:last-child){
    margin-right: 10px;
}

.server__control{
    margin-top: 20px;
}

h1{
    margin-bottom: 25px;
}